<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/exam/update" method="post">
    <table border="1" cellspacing="" cellpadding="">
        <tr><td align="center" colspan="2">修改</td></tr>
        <tr><td>用户名：</td><td><input type="text" size="29" name="name" th:value="${student.getName()}"></td></tr>
        <tr><td>年龄：</td><td><input type="text" size="29" name="age" th:value="${student.getAge()}"></td></tr>
        <tr><td align="center" colspan="2">
            <input type="submit" value="确定" size="10"></td></tr>
    </table>
</form>
</body>
</html>